*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro",sans-serif;
}
body{
    height: 100vh;
}
header{
    margin: 0;
    min-height: 70%;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-size:cover;
    background-position:top;
  overflow-y:inherit;
}

nav{
    display: flex;
    padding : 1% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
nav svg{
    width: 50px;
}
svg #logo{
    animation: logoAnimation 2s linear infinite;

}
@keyframes logoAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
}
.nav-links{
    text-align: right;
    width: 30%;
}
.nav-links ul{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    color : black;
    text-decoration: none;
    font-size: 17px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:  #020267;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}

h1{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 100px auto;
}
.game{
    width: 100%;
}
#start-btn{
    display:block;
    width: 150px;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid rgba(2, 2, 103, 0.38);
    border-radius:5px ;
    color: #020267;
    font-size: 25px;
    font-family: monospace;
    
}
#start-btn:hover{
    content: "";
    transition: 0.5s ease-out;
    background: #020267;
    color: white;
}
#quiz{
    display: none;

}
label{
    font-size: 28px;
}
#question{
    text-align: center;
}
.answor-btn{
    
}