*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro",sans-serif;
}
body{
    height: fit-content;
    overflow-x:hidden;
}
header{
    margin: 0;
    min-height: 70%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 187, 0, 0.3),rgba(199, 6, 6, 0.3)),url(images/background.jpg);
    background-size:cover;
    background-position:top;
    overflow-y:inherit;
}

nav{
    display: flex;
    padding : 1% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
nav svg{
    width: 50px;
    margin-left: 15px;
}
nav svg {
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
.nav-links{
    text-align: right;
    width: 30%;
    transition: ease .5s;
}
nav .fa{
    display: none;

        }
.nav-links ul{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    color : black;
    text-decoration: none;
    font-size: 17px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:  #020267;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}

h1{
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 100px auto;
}
#title-text{
    color: #020267;
    font-weight: 800;
}
.cursor{
    display: inline-block;
    width: 2px;
    background-color:white ;
    margin-left: 0.1rem;
    animation:  blink 1s infinite;
}
.cursor.typing{
    animation:none;
}
@keyframes blink {
    0%{background-color: white;}
    49%{background-color: white;}
    50%{background-color: transparent;}
    99%{background-color: transparent;}
    100%{background-color: white;}
}


.game{
    width: 100%;
}
#start-btn{
    display:block;
    width: 150px;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid rgba(2, 2, 103, 0.38);
    border-radius:5px ;
    color: #020267;
    font-size: 25px;
    font-family: monospace;
    
}
#start-btn:hover{
    content: "";
    transition: 0.5s ease-out;
    background: #020267;
    color: white;
}
#quiz{
    display: none;

}
.answers div{
    display: none;
    overflow: hidden;
}
label{
    font-size: 14px;
}
#question{
    text-align: center;
}
.answer-btn{
    display:block;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(2, 2, 103, 0.38);
    border-radius:5px ;
    color: #020267;
    font-size: 14px;
    font-family: monospace;
    
}
.times{
    color:white;
}

#score{
    margin: auto;
    border: 1px solid #020267;
    border-radius: 5px;
    width:fit-content;
    padding: 20px 50px;
    display: none;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #23272A;
    color: #fff;
    padding-top: 40px;
}
.footer .contact-form input,textarea{
    border: none;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
    margin-bottom: 10px ;
}
.footer .contact-form h3{
    margin-bottom: 10px;
}
.footer .contact-form button{
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius:5px ;
    color: #020267;
    font-weight: bold;
}

.footer .site-map ul{
 list-style: none;
 margin-top: 10px;
 margin-left: 10px;
}
.footer .site-map ul li {
    margin : 5px;
}
.footer  a:visited{  color: rgb(255, 255, 255) }

.footer .contact-info .footer-logo{
    width: 50px;
    margin: 20px 0px;
    fill: white;
}
.footer .contact-info .footer-logo  .cls{
    fill: white;
}
.footer .social{
    display: block;
    color: #fff;
}
.copyright{
    font-size: 12px;
    background-color: #23272A;
    padding: 10px 0px;
    color: #fff;
    text-align: center;
    
}

@media  (max-width:700px) {
    nav{
        padding : 1% 1%;
       
    }
    nav .fa{
        display: inline;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-right: 30px;
    }
    .nav-links{
        position:absolute;
        background: rgb(15, 15, 77);
        color :#fff;
        height: 100%;
        width: 200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
    
    }
    .nav-links ul{
        display: block;
        padding: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li::after{
        background:  white;
    }

    .nav-links ul li a{
        color: #fff;
    }





    .footer{
        display: flex;
        flex-direction: column;
        padding: 50px 40px;
    }
.footer .contact-form,.site-map,.contact-info {

 padding-bottom: 20px;
}
}
